.loan-calculator {
    font-family: "Roboto", sans-serif;
    width: 570px;
    margin: 24px auto;
    background: #fff;
    box-shadow: 0 12px 50px -11px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #14213d;
    overflow: hidden;
    margin-left: 0px;
    z-index: 1000;
}

.loan-calculator,
.loan-calculator * {
    box-sizing: border-box;
}

.loan-calculator .top {
    background: #5e1818;
    color: #fff;
    padding: 32px;
}

.loan-calculator .top h2 {
    margin-top: 0;
}

.loan-calculator form {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.loan-calculator.title{
    margin-bottom: 16px;
}

.loan-calculator form input {
    font-size: 20px;
    padding: 8px 24px;
    width: 100%;
}

.loan-calculator .result{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loan-calculator .result .left {
    width: 100%;
    padding: 8px 32px;
    z-index: 100;
}

.loan-calculator .left h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    z-index: 100;
}

.loan-calculator .result .value {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(20, 33, 61, 0.2);
}

.loan-calculator .result .value::before {
    content: "$";
    font-size: 24px;
    font-weight: 400;
    margin-right: 6px;
    opacity: 0.4;
}

.loan-calculator .calculate-btn {
    background: #e63946;
    color: #fff;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    margin: 24px 0;
}

.loan-calculator .right {
    width: 45%;
    z-index: 100;
}

.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f1f1f1;
    margin: 1rem auto;
    position: absolute;
    bottom: 550px;
    z-index: 10;
    left: 610px;
    top: 80px;
}

.table__row:nth-child(even) {
    background-color: #e6e6e6;
    z-index: 50;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 8px;
}

.title h2 {
    position: absolute;
    top: 0;
    left: 600px;
    top: 30px;

}

.button {
    background: #e63946;
    color: #fff;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    margin: 24px 0;
    width: 10%;
}


@media (max-width: 650px) {
    .loan-calculator {
        width: 90%;
        max-width: 500px;
    }

    .loan-calculator form {
        flex-direction: column;
        gap: 20px;
    }

    .loan-calculator .result {
        flex-direction: column;
        text-align: center;
    }
}