<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap" rel="stylesheet">
    <title>Starting Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-container">
        <nav class="navbar">
            <h1 id="navbar-logo">Home Loan Management</h1>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-menu">
                <li><a href="#" class="nav-links">Help</a></li>
                <li><a href="#" class="nav-links">Feedback</a></li>
                <li><a href="#" class="nav-links nav-links-btn">Sign up</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <div class="main-container">
            <div class="main-content">
                <h1>Be the next Mortgage Master</h1>
                <p>Sign in to customise your account!</p>
                <button class="main-btn"><a href="#">Get Started</a></button>
            </div>
        
            <div class="form">
                <h2>Login</h2>
                {% if error %}
                    <p style=" color: red;">{{ error }}</p>
                {% endif %}

                <form id="auth-form" action="{{ url_for('login') }}" method="post">
                    <input type="text" name="email" placeholder="Enter Email Here" required>
                    <input type="password" name="password" placeholder="Enter Password Here" required>
                    <button class="btnn" value="Login" type="submit" onclick="setActionForm('Login')">Login</button>
                </form>
                

                <p class="link">Don't have an account?<br>
                    <a href="{{ url_for('signup') }}">Sign up</a> here</p>
                <p class="liw">Login in with</p>
                
                <div class="icon">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon qname="logo-google"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                </div>

            </div>
        </div>
    </div>
    <script src="/static/app.js"></script>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>


