<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap" rel="stylesheet">
    <title>Home Loan Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
</head>
<body>
    <div class="nav-container">
        <nav class="navbar">
            <h1 id="navbar-logo">HLMS</h1>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-menu">
                <li><a href="#" class="nav-links">Home</a></li>
                <li><a href="#" class="nav-links">Services</a></li>
                <li><a href="#" class="nav-links">About us</a></li>
                <li><a href="#" class="nav-links">Contact us</a></li>
                <li><a href="#" class="nav-links nav-links-btn">Sign up</a></li>
            </ul>
        </nav>
    </div>
    <script src="app.js"></script>
</body>
</html>

<!---

<h1>Home Loan Management System</h1>
    <form action="/HomeLoan">
        <input type="text" name="amount" id="amount" placeholder="Enter amount"/>
        <button> type="submit">Submit</button>
    </form>

-->