<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
</head>
<body>
    <div class="grid-container">
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-symbols-outlined">inventory</span> {{username}}'s Inventory
                </div>
                <span class="material-symbols-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="{{url_for('dashboard')}}" class="material-symbols-outlined">dashboard</a> Dashboard
                </li>
                <li class="sidebar-list-item">
                    <a href="{{url_for('profile')}}" class="material-symbols-outlined">account_circle</a> Profile
                </li>
                <li class="sidebar-list-item">
                    <a href="{{url_for('password')}}" class="material-symbols-outlined">lock</a> Password
                </li>
                <li class="sidebar-list-item">
                    <a href="{{url_for('logout')}}" class="material-symbols-outlined">logout</a> Logout
                </li>
            </ul>
        </aside>

        <div class="container">
            <form method="POST" action="{{ url_for('password') }}">
                <div class="account">
                    <div class="account-header">
                        <h1 class="account-title">Change Password</h1>
                        <div class="btn-container">
                            <button type="submit" class="btn-save">Save</button>
                        </div>
                    </div>
                    <div class="account-edit">
                        <div class="input-container">
                            <label for="currentPassword">Current Password</label>
                            <input type="password" id="currentPassword" name="current_password" placeholder="Enter Current Password" required>
                        </div>
                        <div class="input-container">
                            <label for="newPassword">New Password</label>
                            <input type="password" id="newPassword" name="new_password" placeholder="Enter New Password" required>
                        </div>
                        <div class="input-container">
                            <label for="confirmPassword">Confirm New Password</label>
                            <input type="password" id="confirmPassword" name="confirm_new_password" placeholder="Confirm New Password" required>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>