<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    
</head>
<body>
    <div class="grid-container">
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-symbols-outlined">inventory</span> {{username }}'s Inventory
                </div>
                <span class="material-symbols-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="{{url_for('dashboard')}}" class="material-symbols-outlined">dashboard</a> Dashboard
                </li>
                <li class="sidebar-list-item">
                    <a href="{{url_for('profile')}}" class="material-symbols-outlined">account_circle</a> Profile
                </li>
                <li class="sidebar-list-item">
                    <a href="{{url_for('password')}}" class="material-symbols-outlined">lock</a> Password
                </li>
                <li class="sidebar-list-item">
                    <a href="{{url_for('logout')}}" class="material-symbols-outlined">logout</a> Logout
                </li>
            </ul>
        </aside>
    <div class="container">
        <div class="account">
            <div class="account-header">
                <h1 class="account-title">Account Settings</h1>
            </div>
            <form method="POST" action="{{ url_for('profile') }}">
                <div class="account-edit">
                    <div class="input-container">
                        <label>First Name</label>
                        <input type="text" name="first_name" value="{{ user.first_name }}" placeholder="First Name">
                    </div>
                    <div class="input-container">
                        <label>Last Name</label>
                        <input type="text" name="last_name" value="{{ user.last_name }}" placeholder="Last Name">
                    </div>
                </div>
            
                <div class="account-edit">
                    <div class="input-container">
                        <label>Email</label>
                        <input type="email" name="email" value="{{ user.email }}" placeholder="Email">
                    </div>
                    <div class="input-container">
                        <label>Phone Number</label>
                        <input type="text" name="phone_number" value="{{ user.phone_number }}" placeholder="Phone Number">
                    </div>
                </div>
            
                <div class="btn-container">
                    <button type="submit" class="btn-save">Save</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>